/* Car1 Page */

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url(Images/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.car1 {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.car1 img {
  width: 50%;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 16px 0px;
}

.car1 img::selection {
  user-select: none;
}

@media only screen and (max-width: 500px) {
  .car1 img {
    width: 60%;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 16px 0px;
  }
}

.dic h1 {
  color: white;
  margin: 1rem;
  text-align: center;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

.dic h1::selection {
  background-color: rgb(0, 0, 0);
}

@media only screen and (min-width: 500px) {
  .dic h1 {
    font-size: 3rem;
  }
}

.dic p {
  color: white;
  text-align: center;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 3rem;
}

.dic p::selection {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 500px) {
  .dic p {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
}

.dic {
  text-align: center;
}

.dic button {
  font-size: 18px;
  padding: 16px;
  color: white;
  background-color: black;
  border-radius: 0.7rem;
  border: 0cap;
  margin-bottom: 2rem;
  transition-duration: 1s;
}

.dic button::selection {
  user-select: none;
}

.dic button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0rem 0rem 2rem 0.2rem rgba(227, 4, 227, 0.629);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 500px) {
  .dic button {
    font-size: 12px;
    padding: 12px;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
  }
}

.info {
  background-color: black;
  text-align: center;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 500px) {
  .info {
    padding-bottom: 2rem;
  }
}

.info h1 {
  font-size: 3rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  /* font-family: "Kode Mono", monospace;
    font-optical-sizing: auto; */
}

@media only screen and (max-width: 500px) {
  .info h1 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.info h1::selection {
  color: black;
  background-color: white;
}

.info input {
  letter-spacing: 0.5px;
  padding-right: 30rem;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  display: list-item;
  margin-left: 28rem;
  margin-top: 1rem;
  border-radius: 25px;
  border-style: none;
  background-color: #702a5e;
  transition-duration: 1s;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .info input {
    padding-right: 5rem;
    padding-top: 7px;
    padding-left: 8px;
    padding-bottom: 7px;
    margin-left: 4rem;
    margin-top: 1rem;
    transition-duration: 1s;
  }
}

.info input:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0rem 1rem 0.2rem rgb(255, 255, 255);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 500px) {
  .info input:hover {
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(255, 255, 255);
  }
}

.i1:hover {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .i1:hover {
    margin-bottom: 1rem;
  }
}

.i2:hover {
  margin-top: 2rem;
}

@media only screen and (max-width: 500px) {
  .i2:hover {
    margin-top: 1rem;
  }
}

.i1::selection {
  background-color: black;
}

.i2::selection {
  background-color: black;
}

.info a button {
  padding: -2rem;
  background-color: rgb(0, 0, 0);
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50rem;
}

@media only screen and (max-width: 500px) {
  .info a button {
    margin-top: 8px;
  }
}

.info a button img {
  width: 70px;
  transition-duration: 0.5s;
  border-radius: 50rem;
}

@media only screen and (max-width: 500px) {
  .info a button img {
    width: 50px;
  }
}

.info a button img:hover {
  /* transform: scale(1.05); */
  box-shadow: 0rem 0rem 1rem 0.2rem rgb(255, 255, 255);
  transition-duration: 0.5s;
  rotate: 180deg;
}

.drop {
  margin-top: 2rem;
}
.drop .he1 {
  color: white;
  margin-left: 37rem;
}

.drop .he2 {
  color: white;
  margin-left: 52rem;
}

.drop .an1 {
  color: black;
  text-decoration: none;
}

.drop .an2 {
  color: black;
  text-decoration: none;
}
